https://weather.uwyo.edu/cgi-bin/wyowx.fcgi?TYPE=sflist&DATE=20200101&HOUR=00&UNITS=M&STATION=RPLL

In [2]:
import requests
import pandas as pd
from io import StringIO
from bs4 import BeautifulSoup
import re

import warnings
warnings.filterwarnings('ignore')

In [3]:
resp = requests.get(
    'https://weather.uwyo.edu/cgi-bin/wyowx.fcgi?TYPE=sflist&DATE=20200101&HOUR=00&UNITS=M&STATION=RPLL',
    verify = False)

In [4]:
resp.text

'<HTML>\n<HEAD>\n<TITLE>University of Wyoming, Atmospheric Science</TITLE>\n</HEAD>\n<BODY BGCOLOR=white>\n<H3>Observations for NINOY AQUINO INTL, Philippines (RPLL)</H3>\n<H5>Location: 14.52N 121.00E    21 meters</H5>\n<I>0000Z 31 Dec 2019 to 0000Z  1 Jan 2020</I>                                                                                   \n<PRE>\nSTN     TIME ALTM   TMP DEW RH  DIR SPD VIS  CLOUDS          Weather     \n     DD/HHMM hPa    C   C   %   deg m/s km                               \n==== ======= ====== === === === === === ==== ======= ======= ============\nRPLL 01/0000 1017.0  25  23  89 160   2  8.0  SCT023  BKN080 -RA\nRPLL 31/2300 1016.0  25  23  89 130   1  9.0  SCT023  OVC080 -RA\nRPLL 31/2200 1015.0  26  22  79  20   3 10.0  SCT023  BKN080\nRPLL 31/2100 1015.0  26  22  79       1  8.0  SCT023  BKN080\nRPLL 31/2000 1014.0  27  23  79       1  6.0  SCT023  BKN080\nRPLL 31/1900 1014.0  26  22  79       1  6.0  SCT023  BKN080\nRPLL 31/1800 1015.0  26  22  79       1  7.0  SCT023  BKN070\nRPLL 31/1700 1015.0  27  22  74  80   2  7.0  SCT025  SCT080\nRPLL 31/1600 1016.0  26  22  79  70   2 10.0  SCT025  BKN080\nRPLL 31/1500 1016.0  26  22  79   0   0 10.0  FEW025\nRPLL 31/1400 1016.0  26  22  79       1 10.0  FEW025\nRPLL 31/1300 1016.0  27  22  74  70   2 10.0  FEW025\nRPLL 31/1200 1016.0  28  22  70 120   2 10.0  FEW025\nRPLL 31/1100 1015.0  29  21  62  80   3 10.0  FEW025\nRPLL 31/1000 1015.0  29  20  58  70   4 10.0  FEW025\nRPLL 31/0900 1015.0  30  21  59  70   5 10.0  FEW023\nRPLL 31/0800 1014.0  31  21  55  80   5 10.0  SCT023\nRPLL 31/0700 1014.0  29  23  70  30   4 10.0  SCT023  SCT090\nRPLL 31/0600 1014.0  29  23  70  50   6 10.0  SCT022  BKN090 -SHRA\nRPLL 31/0500 1015.0  31  22  59  70   5 10.0  SCT023  SCT100\nRPLL 31/0400 1016.0  31  22  59  90   3 10.0  SCT023\nRPLL 31/0300 1017.0  29  23  70       2 10.0  SCT023\nRPLL 31/0200 1018.0  29  23  70  60   2 10.0  FEW023  SCT100\nRPLL 31/0100 1018.0  26  22  79  60   4 10.0  SCT023  SCT100\nRPLL 31/0000 1017.0  27  22  74  40   3 10.0  SCT023  SCT100\n</PRE>\n'

In [5]:
soup = BeautifulSoup(resp.text)
soup.findAll("pre")[0]

<pre>
STN     TIME ALTM   TMP DEW RH  DIR SPD VIS  CLOUDS          Weather
     DD/HHMM hPa    C   C   %   deg m/s km
==== ======= ====== === === === === === ==== ======= ======= ============
RPLL 01/0000 1017.0  25  23  89 160   2  8.0  SCT023  BKN080 -RA
RPLL 31/2300 1016.0  25  23  89 130   1  9.0  SCT023  OVC080 -RA
RPLL 31/2200 1015.0  26  22  79  20   3 10.0  SCT023  BKN080
RPLL 31/2100 1015.0  26  22  79       1  8.0  SCT023  BKN080
RPLL 31/2000 1014.0  27  23  79       1  6.0  SCT023  BKN080
RPLL 31/1900 1014.0  26  22  79       1  6.0  SCT023  BKN080
RPLL 31/1800 1015.0  26  22  79       1  7.0  SCT023  BKN070
RPLL 31/1700 1015.0  27  22  74  80   2  7.0  SCT025  SCT080
RPLL 31/1600 1016.0  26  22  79  70   2 10.0  SCT025  BKN080
RPLL 31/1500 1016.0  26  22  79   0   0 10.0  FEW025
RPLL 31/1400 1016.0  26  22  79       1 10.0  FEW025
RPLL 31/1300 1016.0  27  22  74  70   2 10.0  FEW025
RPLL 31/1200 1016.0  28  22  70 120   2 10.0  FEW025
RPLL 31/1100 1015.0  29  21  62  80   3 10.0  FEW025
RPLL 31/1000 1015.0  29  20  58  70   4 10.0  FEW025
RPLL 31/0900 1015.0  30  21  59  70   5 10.0  FEW023
RPLL 31/0800 1014.0  31  21  55  80   5 10.0  SCT023
RPLL 31/0700 1014.0  29  23  70  30   4 10.0  SCT023  SCT090
RPLL 31/0600 1014.0  29  23  70  50   6 10.0  SCT022  BKN090 -SHRA
RPLL 31/0500 1015.0  31  22  59  70   5 10.0  SCT023  SCT100
RPLL 31/0400 1016.0  31  22  59  90   3 10.0  SCT023
RPLL 31/0300 1017.0  29  23  70       2 10.0  SCT023
RPLL 31/0200 1018.0  29  23  70  60   2 10.0  FEW023  SCT100
RPLL 31/0100 1018.0  26  22  79  60   4 10.0  SCT023  SCT100
RPLL 31/0000 1017.0  27  22  74  40   3 10.0  SCT023  SCT100
</pre>

In [4]:
clean_soup = soup.findAll("pre")[0].contents[0].split("\n")[4:-1]
clean_soup

['RPLL 01/0000 1017.0  25  23  89 160   2  8.0  SCT023  BKN080 -RA',
 'RPLL 31/2300 1016.0  25  23  89 130   1  9.0  SCT023  OVC080 -RA',
 'RPLL 31/2200 1015.0  26  22  79  20   3 10.0  SCT023  BKN080',
 'RPLL 31/2100 1015.0  26  22  79       1  8.0  SCT023  BKN080',
 'RPLL 31/2000 1014.0  27  23  79       1  6.0  SCT023  BKN080',
 'RPLL 31/1900 1014.0  26  22  79       1  6.0  SCT023  BKN080',
 'RPLL 31/1800 1015.0  26  22  79       1  7.0  SCT023  BKN070',
 'RPLL 31/1700 1015.0  27  22  74  80   2  7.0  SCT025  SCT080',
 'RPLL 31/1600 1016.0  26  22  79  70   2 10.0  SCT025  BKN080',
 'RPLL 31/1500 1016.0  26  22  79   0   0 10.0  FEW025',
 'RPLL 31/1400 1016.0  26  22  79       1 10.0  FEW025',
 'RPLL 31/1300 1016.0  27  22  74  70   2 10.0  FEW025',
 'RPLL 31/1200 1016.0  28  22  70 120   2 10.0  FEW025',
 'RPLL 31/1100 1015.0  29  21  62  80   3 10.0  FEW025',
 'RPLL 31/1000 1015.0  29  20  58  70   4 10.0  FEW025',
 'RPLL 31/0900 1015.0  30  21  59  70   5 10.0  FEW023',
 'RPLL 31/0800 1014.0  31  21  55  80   5 10.0  SCT023',
 'RPLL 31/0700 1014.0  29  23  70  30   4 10.0  SCT023  SCT090',
 'RPLL 31/0600 1014.0  29  23  70  50   6 10.0  SCT022  BKN090 -SHRA',
 'RPLL 31/0500 1015.0  31  22  59  70   5 10.0  SCT023  SCT100',
 'RPLL 31/0400 1016.0  31  22  59  90   3 10.0  SCT023',
 'RPLL 31/0300 1017.0  29  23  70       2 10.0  SCT023',
 'RPLL 31/0200 1018.0  29  23  70  60   2 10.0  FEW023  SCT100',
 'RPLL 31/0100 1018.0  26  22  79  60   4 10.0  SCT023  SCT100',
 'RPLL 31/0000 1017.0  27  22  74  40   3 10.0  SCT023  SCT100']

In [6]:
REGEX_FORMAT = r"^(?P<station>.{4}) (?P<month>\d{2})/(?P<hour>\d{2})(?P<min>\d{2}) (?P<altm>.{6}) (?P<tmp>.{3}) (?P<dew>.{3}) (?P<rh>.{3}) (?P<dir>.{3}) (?P<spd>.{3}) (?P<vis>.{4}) (?P<clouds>.{7}).*$"
re.match(REGEX_FORMAT, clean_soup[0]).groupdict()

NameError: name 'clean_soup' is not defined

In [21]:
for row in clean_soup[:10]:
    print(re.match(REGEX_FORMAT, row).groupdict())

{'station': 'RPLL', 'month': '14', 'hour': '00', 'min': '00', 'altm': '1008.0', 'tmp': ' 30', 'dew': ' 26', 'rh': ' 79', 'dir': ' 80', 'spd': '  2', 'vis': '10.0', 'clouds': ' FEW030'}
{'station': 'RPLL', 'month': '13', 'hour': '23', 'min': '00', 'altm': '1007.0', 'tmp': ' 29', 'dew': ' 26', 'rh': ' 84', 'dir': '   ', 'spd': '  1', 'vis': '10.0', 'clouds': ' FEW030'}
{'station': 'RPLL', 'month': '13', 'hour': '22', 'min': '00', 'altm': '1007.0', 'tmp': ' 27', 'dew': ' 25', 'rh': ' 89', 'dir': '   ', 'spd': '  1', 'vis': '10.0', 'clouds': ' FEW030'}
{'station': 'RPLL', 'month': '13', 'hour': '21', 'min': '00', 'altm': '1006.0', 'tmp': ' 27', 'dew': ' 25', 'rh': ' 89', 'dir': '   ', 'spd': '  1', 'vis': '10.0', 'clouds': ' FEW030'}
{'station': 'RPLL', 'month': '13', 'hour': '20', 'min': '00', 'altm': '1006.0', 'tmp': ' 27', 'dew': ' 25', 'rh': ' 89', 'dir': '   ', 'spd': '  1', 'vis': '10.0', 'clouds': ' FEW025'}
{'station': 'RPLL', 'month': '13', 'hour': '19', 'min': '00', 'altm': '1007.0', 'tmp': ' 27', 'dew': ' 25', 'rh': ' 89', 'dir': '   ', 'spd': '  1', 'vis': '10.0', 'clouds': ' FEW025'}
{'station': 'RPLL', 'month': '13', 'hour': '18', 'min': '00', 'altm': '1007.0', 'tmp': ' 27', 'dew': ' 25', 'rh': ' 89', 'dir': '  0', 'spd': '  0', 'vis': '10.0', 'clouds': ' FEW025'}
{'station': 'RPLL', 'month': '13', 'hour': '17', 'min': '00', 'altm': '1007.0', 'tmp': ' 28', 'dew': ' 25', 'rh': ' 84', 'dir': '   ', 'spd': '  1', 'vis': '10.0', 'clouds': ' FEW025'}
{'station': 'RPLL', 'month': '13', 'hour': '16', 'min': '00', 'altm': '1008.0', 'tmp': ' 28', 'dew': ' 25', 'rh': ' 84', 'dir': '   ', 'spd': '  1', 'vis': '10.0', 'clouds': ' FEW025'}
{'station': 'RPLL', 'month': '13', 'hour': '15', 'min': '00', 'altm': '1008.0', 'tmp': ' 28', 'dew': ' 25', 'rh': ' 84', 'dir': '   ', 'spd': '  1', 'vis': '10.0', 'clouds': ' FEW025'}

In [24]:
station_data = [re.match(REGEX_FORMAT, row).groupdict() for row in clean_soup]
station_data

[{'station': 'RPLL',
  'month': '14',
  'hour': '00',
  'min': '00',
  'altm': '1008.0',
  'tmp': ' 30',
  'dew': ' 26',
  'rh': ' 79',
  'dir': ' 80',
  'spd': '  2',
  'vis': '10.0',
  'clouds': ' FEW030'},
 {'station': 'RPLL',
  'month': '13',
  'hour': '23',
  'min': '00',
  'altm': '1007.0',
  'tmp': ' 29',
  'dew': ' 26',
  'rh': ' 84',
  'dir': '   ',
  'spd': '  1',
  'vis': '10.0',
  'clouds': ' FEW030'},
 {'station': 'RPLL',
  'month': '13',
  'hour': '22',
  'min': '00',
  'altm': '1007.0',
  'tmp': ' 27',
  'dew': ' 25',
  'rh': ' 89',
  'dir': '   ',
  'spd': '  1',
  'vis': '10.0',
  'clouds': ' FEW030'},
 {'station': 'RPLL',
  'month': '13',
  'hour': '21',
  'min': '00',
  'altm': '1006.0',
  'tmp': ' 27',
  'dew': ' 25',
  'rh': ' 89',
  'dir': '   ',
  'spd': '  1',
  'vis': '10.0',
  'clouds': ' FEW030'},
 {'station': 'RPLL',
  'month': '13',
  'hour': '20',
  'min': '00',
  'altm': '1006.0',
  'tmp': ' 27',
  'dew': ' 25',
  'rh': ' 89',
  'dir': '   ',
  'spd': '  1',
  'vis': '10.0',
  'clouds': ' FEW025'},
 {'station': 'RPLL',
  'month': '13',
  'hour': '19',
  'min': '00',
  'altm': '1007.0',
  'tmp': ' 27',
  'dew': ' 25',
  'rh': ' 89',
  'dir': '   ',
  'spd': '  1',
  'vis': '10.0',
  'clouds': ' FEW025'},
 {'station': 'RPLL',
  'month': '13',
  'hour': '18',
  'min': '00',
  'altm': '1007.0',
  'tmp': ' 27',
  'dew': ' 25',
  'rh': ' 89',
  'dir': '  0',
  'spd': '  0',
  'vis': '10.0',
  'clouds': ' FEW025'},
 {'station': 'RPLL',
  'month': '13',
  'hour': '17',
  'min': '00',
  'altm': '1007.0',
  'tmp': ' 28',
  'dew': ' 25',
  'rh': ' 84',
  'dir': '   ',
  'spd': '  1',
  'vis': '10.0',
  'clouds': ' FEW025'},
 {'station': 'RPLL',
  'month': '13',
  'hour': '16',
  'min': '00',
  'altm': '1008.0',
  'tmp': ' 28',
  'dew': ' 25',
  'rh': ' 84',
  'dir': '   ',
  'spd': '  1',
  'vis': '10.0',
  'clouds': ' FEW025'},
 {'station': 'RPLL',
  'month': '13',
  'hour': '15',
  'min': '00',
  'altm': '1008.0',
  'tmp': ' 28',
  'dew': ' 25',
  'rh': ' 84',
  'dir': '   ',
  'spd': '  1',
  'vis': '10.0',
  'clouds': ' FEW025'},
 {'station': 'RPLL',
  'month': '13',
  'hour': '14',
  'min': '00',
  'altm': '1008.0',
  'tmp': ' 28',
  'dew': ' 25',
  'rh': ' 84',
  'dir': '250',
  'spd': '  2',
  'vis': '10.0',
  'clouds': ' SCT025'},
 {'station': 'RPLL',
  'month': '13',
  'hour': '13',
  'min': '00',
  'altm': '1008.0',
  'tmp': ' 29',
  'dew': ' 25',
  'rh': ' 79',
  'dir': '   ',
  'spd': '  1',
  'vis': '10.0',
  'clouds': ' FEW025'},
 {'station': 'RPLL',
  'month': '13',
  'hour': '12',
  'min': '00',
  'altm': '1007.0',
  'tmp': ' 29',
  'dew': ' 25',
  'rh': ' 79',
  'dir': '230',
  'spd': '  2',
  'vis': '10.0',
  'clouds': ' FEW025'},
 {'station': 'RPLL',
  'month': '13',
  'hour': '11',
  'min': '00',
  'altm': '1006.0',
  'tmp': ' 29',
  'dew': ' 24',
  'rh': ' 74',
  'dir': '210',
  'spd': '  2',
  'vis': '10.0',
  'clouds': ' FEW025'},
 {'station': 'RPLL',
  'month': '13',
  'hour': '10',
  'min': '00',
  'altm': '1006.0',
  'tmp': ' 29',
  'dew': ' 24',
  'rh': ' 74',
  'dir': '260',
  'spd': '  5',
  'vis': '10.0',
  'clouds': ' FEW025'},
 {'station': 'RPLL',
  'month': '13',
  'hour': '09',
  'min': '00',
  'altm': '1006.0',
  'tmp': ' 30',
  'dew': ' 25',
  'rh': ' 75',
  'dir': '260',
  'spd': '  6',
  'vis': '10.0',
  'clouds': ' FEW023'},
 {'station': 'RPLL',
  'month': '13',
  'hour': '08',
  'min': '00',
  'altm': '1005.0',
  'tmp': ' 30',
  'dew': ' 25',
  'rh': ' 75',
  'dir': '260',
  'spd': '  7',
  'vis': '10.0',
  'clouds': ' SCT023'},
 {'station': 'RPLL',
  'month': '13',
  'hour': '07',
  'min': '00',
  'altm': '1006.0',
  'tmp': ' 31',
  'dew': ' 27',
  'rh': ' 79',
  'dir': '270',
  'spd': '  7',
  'vis': '10.0',
  'clouds': ' SCT025'},
 {'station': 'RPLL',
  'month': '13',
  'hour': '06',
  'min': '00',
  'altm': '1006.0',
  'tmp': ' 32',
  'dew': ' 26',
  'rh': ' 71',
  'dir': '270',
  'spd': '  5',
  'vis': '10.0',
  'clouds': ' SCT025'},
 {'station': 'RPLL',
  'month': '13',
  'hour': '05',
  'min': '00',
  'altm': '1007.0',
  'tmp': ' 31',
  'dew': ' 26',
  'rh': ' 75',
  'dir': '270',
  'spd': '  7',
  'vis': '10.0',
  'clouds': ' SCT025'},
 {'station': 'RPLL',
  'month': '13',
  'hour': '04',
  'min': '00',
  'altm': '1008.0',
  'tmp': ' 30',
  'dew': ' 26',
  'rh': ' 79',
  'dir': '270',
  'spd': '  6',
  'vis': '10.0',
  'clouds': ' SCT025'},
 {'station': 'RPLL',
  'month': '13',
  'hour': '03',
  'min': '00',
  'altm': '1008.0',
  'tmp': ' 30',
  'dew': ' 25',
  'rh': ' 75',
  'dir': '270',
  'spd': '  7',
  'vis': '10.0',
  'clouds': ' SCT023'},
 {'station': 'RPLL',
  'month': '13',
  'hour': '02',
  'min': '00',
  'altm': '1008.0',
  'tmp': ' 28',
  'dew': ' 26',
  'rh': ' 89',
  'dir': '250',
  'spd': '  3',
  'vis': '10.0',
  'clouds': ' SCT023'},
 {'station': 'RPLL',
  'month': '13',
  'hour': '01',
  'min': '00',
  'altm': '1008.0',
  'tmp': ' 28',
  'dew': ' 25',
  'rh': ' 84',
  'dir': '260',
  'spd': '  4',
  'vis': '10.0',
  'clouds': ' SCT023'},
 {'station': 'RPLL',
  'month': '13',
  'hour': '00',
  'min': '00',
  'altm': '1008.0',
  'tmp': ' 28',
  'dew': ' 25',
  'rh': ' 84',
  'dir': '300',
  'spd': '  2',
  'vis': '10.0',
  'clouds': ' FEW023'}]

In [26]:
pd.DataFrame.from_dict(station_data)[:5]

  station month hour min    altm  tmp  dew   rh  dir  spd   vis   clouds
0    RPLL    14   00  00  1008.0   30   26   79   80    2  10.0   FEW030
1    RPLL    13   23  00  1007.0   29   26   84         1  10.0   FEW030
2    RPLL    13   22  00  1007.0   27   25   89         1  10.0   FEW030
3    RPLL    13   21  00  1006.0   27   25   89         1  10.0   FEW030
4    RPLL    13   20  00  1006.0   27   25   89         1  10.0   FEW025

## Good enough! Now we automate it.

In [1]:
import datetime as dt
import time

URL_FORMAT = "https://weather.uwyo.edu/cgi-bin/wyowx.fcgi?TYPE=sflist&DATE={date}&HOUR=00&UNITS=M&STATION=RPLL"
# REGEX_FORMAT = r"^(?P<station>.{4}) (?P<month>\d{2})/(?P<hour>\d{2})(?P<min>\d{2}) (?P<altm>.{6}) (?P<tmp>.{3}) (?P<dew>.{3}) (?P<rh>.{3}) (?P<dir>.{3}) (?P<spd>.{3}) (?P<vis>.{4}) (?P<clouds>.{7}).*$"
REGEX_FORMAT_NO_GUS = r"^(?P<station>.{4}) (?P<time>.{7}) (?P<altm>.{6}) (?P<tmp>.{3}) (?P<dew>.{3}) (?P<rh>.{3}) (?P<dir>.{3}) (?P<spd>.{3}).*$"
REGEX_FORMAT_NO_GUS = r"^(?P<station>.{4}) (?P<month>\d{2})/(?P<hour>\d{2})(?P<min>\d{2}) (?P<altm>.{6}) (?P<tmp>.{3}) (?P<dew>.{3}) (?P<rh>.{3}) (?P<dir>.{3}) (?P<spd>.{3}).*$"

start_date = dt.datetime(2017, 1, 1)
end_date = dt.datetime(2022, 7, 14)
delta = dt.timedelta(days=1)

station_data = []

while start_date <= end_date:
    url = URL_FORMAT.format(date=start_date.strftime("%Y%m%d"))
    print(url)
    
    resp = requests.get(url, verify = False)

    with open("data/Climate Data - UWYO/Raw/{}.txt".format(start_date.strftime("%Y%m%d")), "w") as f:
        f.write(resp.text)

    try:
        soup = BeautifulSoup(resp.text)
        soup.findAll("pre")[0]

        clean_soup = soup.findAll("pre")[0].contents[0].split("\n")[4:-1]

        for row in clean_soup:

            row_obj = re.match(REGEX_FORMAT_NO_GUS, row).groupdict()

            # Their date format does not include month
            row_obj['date'] = (start_date + dt.timedelta(hours=int(row_obj['hour']))).strftime("%Y-%m-%dT%H:%M:%S")
            station_data.append(row_obj)
    except:
        print(resp.text)
    
    start_date += delta

#     time.sleep(1) # Don't flood them

https://weather.uwyo.edu/cgi-bin/wyowx.fcgi?TYPE=sflist&DATE=20170101&HOUR=00&UNITS=M&STATION=RPLL

NameError: name 'requests' is not defined

In [10]:
station_data_df = pd.DataFrame.from_dict(station_data)
station_data_df

,station,month,hour,min,altm,tmp,dew,rh,dir,spd,date
0,RPLL,01,00,00,1014.0,26,26,100,360,4,2017-01-01T00:00:00
1,RPLL,31,23,00,1013.0,25,25,100,20,3,2017-01-01T23:00:00
2,RPLL,31,22,00,1013.0,25,25,100,10,4,2017-01-01T22:00:00
3,RPLL,31,21,00,1012.0,25,25,100,330,2,2017-01-01T21:00:00
4,RPLL,31,20,00,1012.0,25,25,100,340,2,2017-01-01T20:00:00
...,...,...,...,...,...,...,...,...,...,...,...
50007,RPLL,13,04,00,1008.0,30,26,79,270,6,2022-07-14T04:00:00
50008,RPLL,13,03,00,1008.0,30,25,75,270,7,2022-07-14T03:00:00
50009,RPLL,13,02,00,1008.0,28,26,89,250,3,2022-07-14T02:00:00
50010,RPLL,13,01,00,1008.0,28,25,84,260,4,2022-07-14T01:00:00
50011,RPLL,13,00,00,1008.0,28,25,84,300,2,2022-07-14T00:00:00

Data is originally parsed as string. We convert them to integers and floats as necessary.

In [11]:
station_data_df

,station,month,hour,min,altm,tmp,dew,rh,dir,spd,date
0,RPLL,01,00,00,1014.0,26,26,100,360,4,2017-01-01T00:00:00
1,RPLL,31,23,00,1013.0,25,25,100,20,3,2017-01-01T23:00:00
2,RPLL,31,22,00,1013.0,25,25,100,10,4,2017-01-01T22:00:00
3,RPLL,31,21,00,1012.0,25,25,100,330,2,2017-01-01T21:00:00
4,RPLL,31,20,00,1012.0,25,25,100,340,2,2017-01-01T20:00:00
...,...,...,...,...,...,...,...,...,...,...,...
50007,RPLL,13,04,00,1008.0,30,26,79,270,6,2022-07-14T04:00:00
50008,RPLL,13,03,00,1008.0,30,25,75,270,7,2022-07-14T03:00:00
50009,RPLL,13,02,00,1008.0,28,26,89,250,3,2022-07-14T02:00:00
50010,RPLL,13,01,00,1008.0,28,25,84,260,4,2022-07-14T01:00:00
50011,RPLL,13,00,00,1008.0,28,25,84,300,2,2022-07-14T00:00:00

In [12]:
station_data_df.to_csv("data/output/Climate Data - UWYO/NAIA.csv")

In [14]:
station_data_df

       station  month  hour  min    altm   tmp   dew     rh    dir  spd  date
0          NaN      1     0    0  1014.0  26.0  26.0  100.0  360.0  4.0   NaN
1          NaN     31    23    0  1013.0  25.0  25.0  100.0   20.0  3.0   NaN
2          NaN     31    22    0  1013.0  25.0  25.0  100.0   10.0  4.0   NaN
3          NaN     31    21    0  1012.0  25.0  25.0  100.0  330.0  2.0   NaN
4          NaN     31    20    0  1012.0  25.0  25.0  100.0  340.0  2.0   NaN
...        ...    ...   ...  ...     ...   ...   ...    ...    ...  ...   ...
50007      NaN     13     4    0  1008.0  30.0  26.0   79.0  270.0  6.0   NaN
50008      NaN     13     3    0  1008.0  30.0  25.0   75.0  270.0  7.0   NaN
50009      NaN     13     2    0  1008.0  28.0  26.0   89.0  250.0  3.0   NaN
50010      NaN     13     1    0  1008.0  28.0  25.0   84.0  260.0  4.0   NaN
50011      NaN     13     0    0  1008.0  28.0  25.0   84.0  300.0  2.0   NaN

[50012 rows x 11 columns]

In [2]:
import requests
import pandas as pd

In [6]:
climate_df = pd.read_csv('data/output/Climate Data - UWYO/NAIA.csv')
climate_df

,Unnamed: 0,station,day,hour,min,altm,tmp,dew,rh,dir,spd,date
0,1,RPLL,31,23,0,1013.0,25,25,100,20,3,2017-01-01T23:00:00
1,2,RPLL,31,22,0,1013.0,25,25,100,10,4,2017-01-01T22:00:00
2,3,RPLL,31,21,0,1012.0,25,25,100,330,2,2017-01-01T21:00:00
3,4,RPLL,31,20,0,1012.0,25,25,100,340,2,2017-01-01T20:00:00
4,5,RPLL,31,19,0,1012.0,25,25,100,0,0,2017-01-01T19:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
50006,50007,RPLL,13,4,0,1008.0,30,26,79,270,6,2022-07-14T04:00:00
50007,50008,RPLL,13,3,0,1008.0,30,25,75,270,7,2022-07-14T03:00:00
50008,50009,RPLL,13,2,0,1008.0,28,26,89,250,3,2022-07-14T02:00:00
50009,50010,RPLL,13,1,0,1008.0,28,25,84,260,4,2022-07-14T01:00:00
50010,50011,RPLL,13,0,0,1008.0,28,25,84,300,2,2022-07-14T00:00:00

In [11]:
climate_df['date'] = pd.to_datetime(climate_df['date'])
climate_df

,Unnamed: 0,station,day,hour,min,altm,tmp,dew,rh,dir,spd,date
0,1,RPLL,31,23,0,1013.0,25,25,100,20,3,2017-01-01 23:00:00
1,2,RPLL,31,22,0,1013.0,25,25,100,10,4,2017-01-01 22:00:00
2,3,RPLL,31,21,0,1012.0,25,25,100,330,2,2017-01-01 21:00:00
3,4,RPLL,31,20,0,1012.0,25,25,100,340,2,2017-01-01 20:00:00
4,5,RPLL,31,19,0,1012.0,25,25,100,0,0,2017-01-01 19:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
50006,50007,RPLL,13,4,0,1008.0,30,26,79,270,6,2022-07-14 04:00:00
50007,50008,RPLL,13,3,0,1008.0,30,25,75,270,7,2022-07-14 03:00:00
50008,50009,RPLL,13,2,0,1008.0,28,26,89,250,3,2022-07-14 02:00:00
50009,50010,RPLL,13,1,0,1008.0,28,25,84,260,4,2022-07-14 01:00:00
50010,50011,RPLL,13,0,0,1008.0,28,25,84,300,2,2022-07-14 00:00:00